<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Disabled toggles will not be usable when locked.</string>
			<key>footerAlignment</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.bid3v.groundedprefs</string>
			<key>key</key>
			<string>airplane</string>
			<key>label</key>
			<string>AIRPLANE_MODE</string>
			<key>PostNotification</key>
			<string>com.bid3v.groundedprefs.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.bid3v.groundedprefs</string>
			<key>key</key>
			<string>cellular</string>
			<key>label</key>
			<string>CELLULAR_DATA</string>
			<key>PostNotification</key>
			<string>com.bid3v.groundedprefs.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.bid3v.groundedprefs</string>
			<key>key</key>
			<string>wifi</string>
			<key>label</key>
			<string>WI_FI</string>
			<key>PostNotification</key>
			<string>com.bid3v.groundedprefs.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.bid3v.groundedprefs</string>
			<key>key</key>
			<string>bluetooth</string>
			<key>label</key>
			<string>BLUETOOTH</string>
			<key>PostNotification</key>
			<string>com.bid3v.groundedprefs.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.bid3v.groundedprefs</string>
			<key>key</key>
			<string>airdrop</string>
			<key>label</key>
			<string>AIRDROP</string>
			<key>PostNotification</key>
			<string>com.bid3v.groundedprefs.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.bid3v.groundedprefs</string>
			<key>key</key>
			<string>hotspot</string>
			<key>label</key>
			<string>PERSONAL_HOTSPOT</string>
			<key>PostNotification</key>
			<string>com.bid3v.groundedprefs.changed</string>
		</dict>
	</array>
	<key>title</key>
	<string>Connectivity Toggles</string>
</dict>
</plist>
